#bdy {
  background-color: rgba(186, 245, 245, 0.315);
}

#heading {
  color: black;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.main {
  margin: auto;
  margin-top: 5%;
  height: 500px;
  width: 50%;
  border: 3px solid rgba(0, 0, 0, 0.308);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(160, 158, 158, 0.678);
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 1252px) {
  .btns {
    flex-direction: column;
  }
}

/* To remove the annoying arrows/spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
